# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
env/
.env/

# Python package build artifacts
*.egg-info/
dist/
build/
*.egg

# Database files
*.db
data/db/

# IDE settings
.vscode/
.idea/

# Temporary files
*.log
*.swp
.DS_Store .asoundrc

# Personal files
.asoundrc
requirements.txt
